p {
  line-height: 30px;
}
body {
  background-color: #5c48d2;
  font: 16px Verdana, Tahoma, Arial, sans-serif;
}

header h1 {
  font: 48px white;
  line-height: 200px;
  text-align: center;
}

.main-block {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
}

.main-block nav {
  display: flex;
  text-align: center;
  align-content: center;
  padding: 50px;
  height: 5px;
}

.main-block nav a {
  color: #190f33;
  height: 100px;
  font-size: 20px;
  text-decoration: none;
  flex: 1;
}

.main-block nav a:hover {
  color: #5c48d2;
}

.main-block img {
  height: 400px;
  width: 1024px;
  object-fit: cover;
  margin: 0;
}

section {
  padding: 100px;
  justify-content: center;
}

.section-purple {
  background-color: #eeeef7;
}
.section-white {
  background-color: white;
}

#about-me div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.informations {
  display: flex;
  flex-direction: column;
}
#about-me img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: #fcc01a 2px solid;
  margin: 50px;
}

p#name {
  color: #190f33;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 50px;
}

p#city {
  color: #190f33;
  font-size: 30px;
  font-style: italic;
}

#about-me h3 {
  color: #190f33;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
}

#about-me p {
  text-align: justify;
}
