p {
  line-height: 30px;
  margin: 80px 0px 80px;
  font-size: 20px;
}
body {
  background-color: #d9b074;
  font-family: "Tinos", serif;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  width: 1024px;
}

h1 {
  font-size: 60px;
  color: white;
  line-height: 200px;
}

h2 {
  font-family: "Tinos", serif;
  color: #190f33;
  font-size: 40px;
  margin-bottom: 80px;
  font-weight: bold;
}

h3 {
  font-family: "Tinos", serif;
  color: #190f33;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: left;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

a {
  color: #190f33;
  text-decoration: none;
  font-family: "Tinos", serif;
}
a:hover {
  color: #5c48d2;
}

.main-block {
  width: 1024px;

  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
}

.main-block nav {
  display: flex;
  text-align: center;
  align-content: center;
  padding: 50px;
  height: 5px;
  border-radius: 20px;
}

.main-block nav a {
  height: 100px;
  font-size: 25px;
  flex: 1;
}

.main-block img {
  height: 400px;
  width: 1024px;
  object-fit: cover;
  margin: 0;
}

section {
  margin-top: 0;
  padding: 100px;
  justify-content: center;
}

.section-purple {
  background-color: #eeeef7;
}
.section-white {
  background-color: white;
}

#about-me div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.informations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-me img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: #fcc01a 2px solid;
  margin: 50px;
}

#about-me p {
  text-align: justify;
  margin-top: 0;
}

p#name {
  color: #190f33;
  font-size: 38px;
  font-weight: bold;
  margin: 50px 0 50px;
}

p#city {
  color: #190f33;
  font-size: 30px;
  font-style: italic;
}

#education p {
  margin: 80px 0px 80px;
}

#education p span {
  font-weight: bold;
}
.logos {
  display: flex;
  align-content: center;
}

.logos img {
  height: 100px;
  object-fit: contain;
}

.project {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 100px;
}

.project img {
  width: 500px;
  margin-right: 60px;
  object-fit: contain;
}

.projectlist {
  align-self: center;
}

.project li {
  line-height: 30px;
  list-style-type: disc;
  text-align: left;
}
#contact {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.contacts {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.contacts img {
  height: 30px;
  width: auto;
  margin-right: 20px;
  object-fit: contain;
}
.contacts a {
  align-self: center;
}

footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #878383;
}
footer p,
footer a {
  line-height: 40px;
  margin: 0;
}
footer a {
  color: #7c61aa;
  text-decoration: none;
}
footer a:hover {
  color: #190f33;
}
