p {
  line-height: 30px;
  margin: 80px 0px 80px;
}
body {
  background-color: #5c48d2;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 48px;
  color: white;
  line-height: 200px;
}

h2 {
  color: #190f33;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 80px;
}

h3 {
  color: #190f33;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: left;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}
.main-block {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
}

.main-block nav {
  display: flex;
  text-align: center;
  align-content: center;
  padding: 50px;
  height: 5px;
}

.main-block nav a {
  color: #190f33;
  height: 100px;
  font-size: 20px;
  text-decoration: none;
  flex: 1;
}

.main-block nav a:hover {
  color: #5c48d2;
}

.main-block img {
  height: 400px;
  width: 1024px;
  object-fit: cover;
  margin: 0;
}

section {
  padding: 100px;
  justify-content: center;
}

.section-purple {
  background-color: #eeeef7;
}
.section-white {
  background-color: white;
}

#about-me div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.informations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-me img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: #fcc01a 2px solid;
  margin: 50px;
}

#about-me p {
  text-align: justify;
  margin-top: 0;
}

p#name {
  color: #190f33;
  font-size: 38px;
  font-weight: bold;
  margin: 50px 0 50px;
}

p#city {
  color: #190f33;
  font-size: 30px;
  font-style: italic;
}

#education p {
  margin: 80px 0px 80px;
}

#education p span {
  font-weight: bold;
}
.logos {
  display: flex;
  align-content: center;
}

.logos img {
  height: 100px;
  object-fit: contain;
}

.project {
  display: flex;
  align-content: center;
  justify-content: center;
}

.project-list {
}
.project img {
  width: 500px;
  margin-right: 60px;
}

.project ul {
  text-align: left;
}
